.home{
    background-color: #eef2fe;
  }
  
  .notice-board{
    height: 70px;
    background-color: #9b1fe9;
  }
  
  .custom-color {
    color: #9b1fe9;
    font-family: Varela Round, sans-serif;
  }
  .warning{
    background-color: #eef2fe;
  }
  
  .content-title > p{
    width: 50%;
  }
  
  .navlink-container{
    display: flex;
  }
  
  .home-content{
    padding: 0 25px;
    margin: 0 30px;
  }
  
.table table {
    width: 50%;
  }
  .edit{
    margin-left: 7px;
  }

  
  @media screen and (max-width: 480px) {
    .content-title > p{
      width: 100%;
    }
    .navlink-container{
      display: block;

    }

    .edit {
    
        margin-top: 10px;
        margin-left: 5px;
      }
  }
 
  @media screen and (max-width: 768px) {

    .table {
        width: 100%;
        overflow-x: scroll;
      }
    
      .table table {
        width: 100%;
      }

      .navlink-container a{
        display: block;
        margin-left: 0 !important;
        margin-bottom: 10px;
      }
  }