.DropProfile{
    position:absolute;
    top: 5rem;
    right: 3.5rem;
    width:140px;
    padding:14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 4px 9px -8px grey;
    height: auto;
  }
  
  .DropProfile > a{
    list-style-type: none;
    color: #6d7380;
    padding-left: 8px;
    text-decoration: none;
    cursor:pointer
  }
  
 