.header {
    border-bottom: 1px solid #eee;
    font-family: Varela Round, sans-serif;
    padding: 15px;
}

.aontainer {
    margin: auto;
    max-width:1340px;
    padding: 0 30px;

}

.header .header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;


}

.logo h2 {
    color: #9b1fe9;
    font-family: Varela Round, sans-serif;
    font-size: 25px;
    font-weight:600;
    margin: 0px;
    border-bottom: none;
    text-decoration: none;
}
.Linkpro{
 text-decoration: none;
}
.right_content {
    align-items: center;
    display: flex;
}

.network {
    display: flex;
    align-items: center;
}

.connectButton {
    display: flex;
    background: transparent;
    border: 2px solid #9b1fe9;
    border-radius: 3px;
    color: #9b1fe9;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 24px;
    text-transform: capitalize;
    margin-right: 16px;
    height: 39px;
    padding-top: 6px;
}




.profile-button {

    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0 4px 10px -9px #6d7380;
    color: #000;
    justify-content: center;
    padding: 5px;
    width: 44px;
    cursor: pointer;
    
    height: 43px; 
}


.network_State {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #6d7380;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 36px;
    padding: 0px 12px;
    margin-right: 24px;
    padding-top: 6px;
}

.network_State p {
    font-size: 14px;
}

.Pro {
    color: rgb(109, 115, 128);

}


.Biche {
    margin-left: 10px;

}


@media screen and (max-width: 768px) {
    .small {
        display: none;
    }

    .network_State {
        border: 1px solid #ddd;
        color: #6d7380;
        cursor: pointer;
        display: flex;
        font-size: 3px;
        margin-right: -3px;
        width: 45px;
        height: 25px;
        margin-left: 52px;
    }


    .Biche {
    position: absolute;
    right: 101px;
    top: 27px;


    }

    .connectButton {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        color: #9b1fe9;

    }


    .right_content {
        align-items: center;
        display: flex;
        margin-right: -23px;

    }

    .profile-button {
        margin-left: -27px;
    }

    .logo h2 {
        color: #9b1fe9;
        font-family: Varela Round, sans-serif;
        font-size: 25px;
        font-weight: 600;
        margin-left: -21px;
    }
}